body {
    height: 100%;
    width: 100%;
    background: rgb(233, 227, 255);
}

.heading {
    padding: 3rem 15rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgb(68, 54, 117);
}

.containers {
    width: 90%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 4%;
    padding: 2rem 1rem;
    background: blueviolet;
}

.input-container {
    width: 50%;
    height: 100%;
    margin: 0 1rem;
    background: wheat;
}

.drop-container {
    width: 50%;
    height: 100%;
    margin: 0 1rem;
    background: wheat;
}