body {
    height: 100%;
    width: 100%;
    background: rgb(72, 55, 134);
}

.heading {
    padding: 3rem 15rem 1rem 15rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgb(193, 178, 245);
}

.containers {
    width: 90%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 4%;
    padding: 3rem 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.container1, .container2  {
    width: 50%;
    height: 95%;
    margin: 0 2rem;
    background: wheat;
}

.droppable, .draggable {
    text-align: center;
}

.draggable-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 11rem);
    grid-template-rows: repeat(2, auto);
    padding: 5%;
}

.item {
    height: 10rem;
    width: 10rem;
    margin: 0 1rem 1rem 0;
    background: aqua;
    text-align: center;
    cursor: move;
}